src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b1a284c-630b-43c1-aaf8-eea58ff7b59c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="3b436814-3b6e-4e20-9344-5514a54efaf9" >
		<http:listener doc:name="Listener" doc:id="695a3a18-c3f9-4151-8705-c8999a5b739a" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Sample payload"]' doc:name="Set Payload" doc:id="b7eaf772-d0e8-4f3b-9edb-07a87e226def" />
	</flow>
</mule>
